    @media screen and (max-width: 425px) {

    body {
        margin: 0;
        border: 0;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #hamburguer {
        margin-right: 60px;
        width: 40px;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 13px
    }
    
    #hamburguer span {
        width: 40px;
        height: 6px;
        background-color: white;
        border-radius: 20px;
        margin-left: 175px;
        margin-top: 5px;  
    }
    .barra{
        width: 135px;
        height: 15px;
        border: none;
        margin-top: -5px;
    }
    .banco{
        color: aqua;
        display: flex;
        justify-content: space-around;
        width: 425px;  
    }
    .Info{
        margin-right: 15px;
    }
    .Barra{
        display: flex;
        align-items: center;
        width: 0%;
        margin-top: 0px;
    
    }
    .postos{
        height: 177px;
        display: flex;
        margin-top: -35px;
        width: 326px;
    }
    img{
        width: 160px;
        height: 120px;
        background-size: cover;
        padding-left: 5px;

    }   
    h1{
        font-family: 'Fjalla One', sans-serif;
        margin-left: 35px;


    }
    h2{
        color: aqua;
        margin-left: 8px;
        font-size: 12pt;
        font-family: 'Fjalla One', sans-serif;

    }
    .linha2{
        margin-top: -30px;
        margin-bottom: 11px;
        border: 0;
        border-top: 1px solid rgba(0,0,0,.1);
        background-color: white;
        width: 315px;
        display: flex;
    }
    h3{
        color: aqua;
        margin-left: 8px;
        font-size: 11pt;
        font-family: 'Fjalla One', sans-serif;


    }
    h4{
        color: aqua;
        margin-left: 8px;
        font-size: 10pt;
        font-family: 'Fjalla One', sans-serif;

    }
    h5{
        color: aqua;
        margin-left: 13px;
        font-size: 12pt;
        display: flex;
        justify-content: center;
        margin-top: -5px;
        font-family: 'Fjalla One', sans-serif;

    }
    h6{
        color: white;
        margin-left: 13px;
        font-size: 12pt;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        font-family: 'Fjalla One', sans-serif;

    }
    .h7{
        color: aqua;
        margin-left: 13px;
        font-size: 12pt;
        display: flex;
        justify-content: center;
        margin-top: -5px;
        font-family: 'Fjalla One', sans-serif;

    }
    .postos4{
        color: aqua;
        margin-left: 8px;
        font-size: 11pt;

    }
    button{
        border: none;
        width: 32px;
        height: 32px;
    }
    .search{
        width: 32px;
        height: 24px;
        cursor: pointer;
        margin-top: 0px;
    }
}
    
   